--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-multipart
python-dotenv
openai
chromadb
pymupdf
python-docx
sentence-transformers[accelerate]==6.0.0
requests
scikit-learn